@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #842A3B;
  --color-secondary:#a35061;
}
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

* {
  font-family: "Lora", serif;
}

.navbar .active {
  color: rgba(35, 22, 27, 0.745);
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(243, 226, 226);
}

.btn-primary {
  @apply bg-gradient-to-r from-[#662222] to-[#a35061] border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}